// Colors
$grey: #333;
$light-grey: #fafafa;
$light-grey-border: #eee;
$light-color: #aaa;

// Navigation color
$nav-background: #333;
$nav-text-color: white;

// Footer color
$footer-background: $nav-background;
$footer-text-color: $nav-text-color;
